# Ignore node_modules directory
node_modules/

# Ignore .env files containing sensitive information (e.g., API keys)
.env

# Ignore log files
*.log

# Ignore macOS system files
.DS_Store

# Ignore VSCode settings
.vscode/

# Ignore npm-debug.log
npm-debug.log

# Ignore yarn-error.log
yarn-error.log
