.product-page {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    padding: 10px;
    margin-top: 600px;
}

.product {
    display: flex;
    flex-direction: column;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0);
    overflow: hidden;
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgb(254, 0, 0);
}

.product-image {
    width: 100%;
    height: auto;
}

.product-details {
    padding: 10px;
}

.product-name {
    margin: 0;
    font-size: 1.2rem;
}

.product-description {
    margin: 0;
    font-size: 1rem;
}

.product-price {
    margin: 0;
    font-size: 1.1rem;
    font-weight: bold;
    color: #007bff;
}

.special-product {
    border-color: red;
}

.special-price {
    color: red;
}

.special-label {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.cart-link {
    position: absolute;
    top: 10px;
    left: 10px;
}